.rounded-lg {
  border-radius: 1rem ;
}
.text-small {
  font-size: 16px ;
}
.custom-separator {
  width: 2rem;
  height: px;
  border-radius: 2rem;
}
.text-uppercase {
  letter-spacing: 4px;
}



body {

  
  background: linear-gradient(to right, #0083B0, #00B4DB);
  
   min-height: 100vh; 
}